html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo
{
    width: 60px;
    height: 40px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bar-graph canvas
{
    width: 1260px;
    height: 500px;
    margin: 20px;

}

canvas {
    width: 500px;
    height: 500px;
    margin: 20px;
}