@page
@model AeroAssist.Pages.AboutModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}
<div>
    <h1>This is the about page</h1>
    <p>This is a placeholder for the about page. In the future, it will be a 
        fully functional about page.</p>
    <p>For now, you can use the navigation bar to visit other pages on the site.</p>
    <p>For example, you could:</p>
<ul>
    <li>View the ticket queue</li>
    <li>Return to the home page</li>
</ul>
</div>
