@page
@model AeroAssist.Models.ErrorModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-1">Error</h1>
    <p class="lead">An error occurred while processing your request.</p>
    <p class="text-danger">Error Code: @Model.ErrorCode</p>
    <p class="text-danger">Error Message: @Model.ErrorMessage</p>

    <p>For assistance, please contact lh1207 on github.</p>
    <button type="button" class="btn btn-secondary" onclick="location.href='/Tickets'">Cancel</button>

</div>