@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div>
    <h1>Welcome to my website!</h1>
    <p>This is a placeholder for the home page. In the future, 
        it will be a fully functional home page.</p>
    <p>For now, you can use the navigation bar to visit other 
        pages on the site.</p>
    <p>For example, you could:</p>
<ul>
    <li>View the ticket queue</li>
    <li>Learn more about the site</li>
</ul>
</div>