@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div>
    <h1>Welcome to AeroAssist!</h1>
    <p>This is a placeholder for the home page. In the future, 
        it will be a fully functional home page with an overview of tickets, users, and graphs.</p>
    <p>For now, you can view create, edit, and delete tickets via the <a href="/Ticket">Ticket Queue</a>.</p>
</div>