@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<p>Use this page to log in to the site.</p>
<p>For now, this page is just a placeholder. In the future, it will be a fully functional login page.</p>