@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Success";
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>Success</title>
</head>
<body>
<div>
    <h1>Success</h1>
    <p>Your request has been successfully submitted.</p>
    <p>Thank you for your business!</p>
</div>
</body>
</html>