@page
@model AeroAssist.Pages.TicketModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Ticket Details";
}

<!DOCTYPE html>

<div>
    <h1>Ticket Details</h1>
    <p>Use this page to view ticket details.</p>

    <form id="ticketDetailsForm">
        <div class="form-group">
            <label asp-for="Ticket.Title"></label>
            <input asp-for="Ticket.Title" class="form-control" disabled/>
            <span asp-validation-for="Ticket.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Ticket.Description"></label>
            <input asp-for="Ticket.Description" class="form-control" disabled/>
            <span asp-validation-for="Ticket.Description" class="text-danger"></span>

            <input type="hidden" asp-for="Ticket.TicketId"/>

            <a asp-page="/Ticket">Back to List</a>
        </div>
    </form>
</div>

@* @section Scripts { *@
@*     <script> *@
@*         window.addEventListener('load', function() { *@
@*             const ticketId = this.elements["Ticket.TicketId"].value *@
@*             fetch('https://localhost:7223/api/Ticket/' + ticketId) *@
@*             .then(response => response.json()) *@
@*             .then(data => { *@
@*                 const ticketDetailsDiv = document.getElementById('ticketDetails'); *@
@*                 ticketDetailsDiv.innerHTML = ` *@
@*                     <p>Title: ${data.title}</p> *@
@*                     <p>Description: ${data.description}</p> *@
@*                     <p>Priority: ${data.priority}</p> *@
@*                 `; *@
@*             }) *@
@*             .catch((error) => { *@
@*                 console.error('Error:', error); *@
@*             }); *@
@*         }); *@
@*     </script> *@
@* } *@